DJANGO_SETTINGS_MODULE=trace_connect.settings.local
DJANGO_MIGRATE=true
DJANGO_COMPILE=false
DJANGO_CREATE_SUPER_USER=false
DJANGO_SUPERUSER_USERNAME={{superuser_username}}
DJANGO_SUPERUSER_EMAIL={{superuser_email}}
DJANGO_SUPERUSER_PASSWORD={{superuser_pswd}}

