[app]
ENVIRONMENT={{environment}}
DEPLOYMENT={{environment}}
ROOT_URL={{project_domain}}
FRONTEND_ROOT_URL={{frontend_url}}

[django]
SECRET_KEY={{django_secret_key}}
HASHID_SALT={{django_hashlib_salt}}
DEFAULT_CURRENCY_CODE=IDR

[database]
REDIS_CACHE_DB=1
REDIS_URL= redis://:<<redis_password>>@redis62
#make sure password url encoded ex-use: https://www.urlencoder.org/
DATABASE_URL=postgresql://{{postgres_username}}:{{postgres_pswd}}@pgbouncer:6432/{{db_name}}
REDIS_PORT=6379

[email]
EMAIL_HOST={{smtp_service_provider}}
EMAIL_HOST_USER={{smtp_email}}
EMAIL_HOST_PASSWORD={{smtp_email_pswd}}

[lib]
# need to be changed for trace_connect
AWS_ACCESS_KEY_ID={{aws_access_key}}
AWS_SECRET_ACCESS_KEY={{aws_access_secret}}
AWS_STORAGE_BUCKET_NAME={{aws_bucket_name}}
#SENTRY_DSN={{sentry_url}}

SERVER_NAME={{sso_server_name}}
SSO_ENABLED=1
SSO_LOGIN_URL=https://{{sso_login_url}}/sso-authorization
SSO_TOKEN_URL=https://{{sso_backend_url}}/o/oauth2/token/
SSO_REVOKE_TOKEN_URL=https://{{sso_backend_url}}/o/oauth2/revoke_token/
SSO_LOGOUT_URL=https://{{sso_backend_url}}/logout
SSO_AUDIENCE = {{sso_audience_name}}
SSO_TOKEN_ISSUER = https://{{sso_backend_url}}/o/oauth2